            div(style="background-position:top center;background-repeat:no-repeat;background-color:#ffffff;" class="little-spikes")
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0', style="background-image:url('images/divider_longg.jpg');background-position:top center;background-repeat:no-repeat;background-color:#ffffff;")
                      tbody
                        tr
                          td(align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width:650px')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:35px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top;;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:35px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%', cellpadding='0', cellspacing='0', border='0')
                            tbody
                              tr
                                td(style="padding-right: 10px; padding-left: 10px; padding-top: 25px; padding-bottom: 5px; font-family: 'Trebuchet MS', sans-serif")
                        div(style="color:#1F3379;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:25px;padding-right:10px;padding-bottom:5px;padding-left:10px;")
                          div(style="line-height: 14px; font-size: 12px; color: #1F3379; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                            p(style='line-height: 14px; text-align: center; font-size: 12px; margin: 0;')
                              strong
                                span(style='font-size: 28px; line-height: 33px;') Other products
                        //if mso
                        //if mso
                          table(width='100%', cellpadding='0', cellspacing='0', border='0')
                            tbody
                              tr
                                td(style="padding-right: 25px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px; font-family: 'Trebuchet MS', sans-serif")
                        div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:0px;padding-right:25px;padding-bottom:0px;padding-left:10px;")
                          div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                            p(style='font-size: 14px; line-height: 15px; text-align: center; margin: 0;')
                              span(style='font-size: 13px; mso-ansi-font-size: 14px;') Praesent mattis consequat turpis. Quisque sed aliquam libero. 
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:#ffffff;')
              .block-grid.two-up(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0', style='background-color:#B2DA11;')
                      tbody
                        tr
                          td(align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width:650px')
                              tbody
                                tr.layout-full-width(style='background-color:#FFFFFF')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:5px;')
                  .col.num6(style='min-width: 320px; max-width: 325px; display: table-cell; vertical-align: top;;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:7px solid #B2DA11; border-left:7px solid #B2DA11; border-bottom:7px solid #B2DA11; border-right:7px solid #B2DA11; padding-top:0px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        .img-container.center.autowidth.fullwidth(align='center', style='padding-right: 0px;padding-left: 0px;')
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;', align='center')
                          img.center.autowidth.fullwidth(align='center', alt='Image', border='0', src='images/1.jpg', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; border: 0; height: auto; float: none; width: 100%; max-width: 311px; display: block;', title='Image', width='311')
                          //if mso
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: 'Trebuchet MS', sans-serif")
                          div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;")
                            div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                              p(style='font-size: 14px; line-height: 16px; margin: 0;')
                                strong Product name
                          //if mso
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style="padding-right: 25px; padding-left: 10px; padding-top: 0px; padding-bottom: 10px; font-family: 'Trebuchet MS', sans-serif")
                          div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:0px;padding-right:25px;padding-bottom:10px;padding-left:10px;")
                            div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                              p(style='font-size: 14px; line-height: 16px; margin: 0;')
                                | Praesent mattis consequat turpis. Quisque sed aliquam libeattis consequat turpis. Quisque sed aliquam libero. ro.
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
                          //if (mso)|(IE)
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:5px;')
                          .col.num6(style='min-width: 320px; max-width: 325px; display: table-cell; vertical-align: top;;')
                            div(style='width:100% !important;')
                              // [if (!mso)&(!IE)] <!
                              div(style='border-top:7px solid #B2DA11; border-left:7px solid #B2DA11; border-bottom:7px solid #B2DA11; border-right:7px solid #B2DA11; padding-top:0px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                                // <![endif]
                                .img-container.center.autowidth.fullwidth(align='center', style='padding-right: 0px;padding-left: 0px;')
                                  //if mso
                                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr(style='line-height:0px')
                                          td(style='padding-right: 0px;padding-left: 0px;', align='center')
                                  img.center.autowidth.fullwidth(align='center', alt='Image', border='0', src='images/2.jpg', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; border: 0; height: auto; float: none; width: 100%; max-width: 311px; display: block;', title='Image', width='311')
                                  //if mso
                                  //if mso
                                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td(style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: 'Trebuchet MS', sans-serif")
                                  div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;")
                                    div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                                      p(style='font-size: 14px; line-height: 16px; margin: 0;')
                                        strong Product name
                                  //if mso
                                  //if mso
                                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td(style="padding-right: 25px; padding-left: 10px; padding-top: 0px; padding-bottom: 10px; font-family: 'Trebuchet MS', sans-serif")
                                  div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:0px;padding-right:25px;padding-bottom:10px;padding-left:10px;")
                                    div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                                      p(style='font-size: 14px; line-height: 16px; margin: 0;')
                                        | Praesent mattis consequat turpis. Quisque sed aliquam libeattis consequat turpis. Quisque sed aliquam libero. ro.
                                  //if mso
                                  // [if (!mso)&(!IE)] <!
                                  // <![endif]
                                  //if (mso)|(IE)
                                  //if (mso)|(IE)
            div(style='background-color:#B2DA11;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0', style='background-color:#B2DA11;')
                      tbody
                        tr
                          td(align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width:650px')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
                  .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top;;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(border='0', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; border-collapse: collapse;', valign='top')
                                table.divider_content(align='center', border='0', cellpadding='0', cellspacing='0', height='20', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-top: 0px solid transparent; height: 20px;', valign='top', width='100%')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(height='20', style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse;', valign='top')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:#B2DA11;')
              .block-grid.two-up(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0', style='background-color:#B2DA11;')
                      tbody
                        tr
                          td(align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width:650px')
                              tbody
                                tr.layout-full-width(style='background-color:#FFFFFF')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:5px;')
                  .col.num6(style='min-width: 320px; max-width: 325px; display: table-cell; vertical-align: top;;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:7px solid #B2DA11; border-left:7px solid #B2DA11; border-bottom:7px solid #B2DA11; border-right:7px solid #B2DA11; padding-top:0px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        .img-container.center.autowidth.fullwidth(align='center', style='padding-right: 0px;padding-left: 0px;')
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;', align='center')
                          img.center.autowidth.fullwidth(align='center', alt='Image', border='0', src='images/3.jpg', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; border: 0; height: auto; float: none; width: 100%; max-width: 311px; display: block;', title='Image', width='311')
                          //if mso
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: 'Trebuchet MS', sans-serif")
                          div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;")
                            div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                              p(style='font-size: 14px; line-height: 16px; margin: 0;')
                                strong Product name
                          //if mso
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style="padding-right: 25px; padding-left: 10px; padding-top: 0px; padding-bottom: 10px; font-family: 'Trebuchet MS', sans-serif")
                          div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:0px;padding-right:25px;padding-bottom:10px;padding-left:10px;")
                            div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                              p(style='font-size: 14px; line-height: 16px; margin: 0;')
                                | Praesent mattis consequat turpis. Quisque sed aliquam libeattis consequat turpis. Quisque sed aliquam libero. ro.
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
                          //if (mso)|(IE)
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:5px;')
                          .col.num6(style='min-width: 320px; max-width: 325px; display: table-cell; vertical-align: top;;')
                            div(style='width:100% !important;')
                              // [if (!mso)&(!IE)] <!
                              div(style='border-top:7px solid #B2DA11; border-left:7px solid #B2DA11; border-bottom:7px solid #B2DA11; border-right:7px solid #B2DA11; padding-top:0px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                                // <![endif]
                                .img-container.center.autowidth.fullwidth(align='center', style='padding-right: 0px;padding-left: 0px;')
                                  //if mso
                                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr(style='line-height:0px')
                                          td(style='padding-right: 0px;padding-left: 0px;', align='center')
                                  img.center.autowidth.fullwidth(align='center', alt='Image', border='0', src='images/4.jpg', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; border: 0; height: auto; float: none; width: 100%; max-width: 311px; display: block;', title='Image', width='311')
                                  //if mso
                                  //if mso
                                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td(style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: 'Trebuchet MS', sans-serif")
                                  div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;")
                                    div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                                      p(style='font-size: 14px; line-height: 16px; margin: 0;')
                                        strong Product name
                                  //if mso
                                  //if mso
                                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td(style="padding-right: 25px; padding-left: 10px; padding-top: 0px; padding-bottom: 10px; font-family: 'Trebuchet MS', sans-serif")
                                  div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:0px;padding-right:25px;padding-bottom:10px;padding-left:10px;")
                                    div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                                      p(style='font-size: 14px; line-height: 16px; margin: 0;')
                                        | Praesent mattis consequat turpis. Quisque sed aliquam libeattis consequat turpis. Quisque sed aliquam libero. ro.
                                  //if mso
                                  // [if (!mso)&(!IE)] <!
                                  // <![endif]
                                  //if (mso)|(IE)
                                  //if (mso)|(IE)
            div(style='background-color:#B2DA11;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0', style='background-color:#B2DA11;')
                      tbody
                        tr
                          td(align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width:650px')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
                  .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top;;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(border='0', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; border-collapse: collapse;', valign='top')
                                table.divider_content(align='center', border='0', cellpadding='0', cellspacing='0', height='30', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-top: 0px solid transparent; height: 30px;', valign='top', width='100%')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(height='30', style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse;', valign='top')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style="background-image:url('images/bglines_footer_.jpg');background-position:top center;background-repeat:no-repeat;background-color:#B2DA11;")
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0', style="background-image:url('images/bglines_footer_.jpg');background-position:top center;background-repeat:no-repeat;background-color:#B2DA11;")
                      tbody
                        tr
                          td(align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width:650px')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:15px;')
                  .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top;;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:15px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(border='0', cellpadding='0', cellspacing='0', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; border-collapse: collapse;', valign='top')
                                table.divider_content(align='center', border='0', cellpadding='0', cellspacing='0', height='25', role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-top: 0px solid transparent; height: 25px;', valign='top', width='100%')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(height='25', style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse;', valign='top')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)